
#navItem
{
	color: #3CA0EC;
	text-decoration: none;
}

#marginTop
{
	margin-top: 40px;
}

#navCont
{
	height: 50px;
	background-color: #BCBCBC;

}

#navHead
{
	background-color: #F5F5F5;
	color:#3CA0EC;
	text-decoration: none;
	margin:0px;	
}

.icon-bar
{
	background-color: #3CA0EC;
}

#banner
{
	height: 260px;
	background-image: url("Images/banner6.png");
}

#bannerPay
{
	height: 180px;
	background-image: url("Images/payBanner.jpg");
	margin-top: 40px;
	margin-bottom: 40px;
}

#bannerEmpanadas
{
	height: 180px;
	background-image: url("Images/empanadasBanner.png");
	margin-top: 40px;
	margin-bottom: 40px;
}

#bannerManzanas
{
	height: 180px;
	background-image: url("Images/manzanaBanner.jpg");
	margin-top: 40px;
	margin-bottom: 40px;
}

#pinkBack
{
	background-image: url("Images/banner6.png");
}



#bannerCol
{
	padding-bottom: 92px;
}

#navHead:hover
{
	color: #F07E82;
	background-color: #F5F5F5;
}

#navItem:hover
{
	color: #F07E82;
	background-color: #F5F5F5;
}

#pinkBackCol
{
	background-color: #F07E82;
}


#bannerText
{
	color:white;
	margin-top: 55px;
	font-weight: 600;
}

#backStripe
{
	height: 260px;
	background-image: url("Images/banner6.png");
}

#whiteBack
{
	background-image: url("Images/whiteTexture.jpg");
	padding-bottom: 100px;
}

#whiteBackS
{
	background-image: url("Images/whiteTexture.jpg");
	padding-bottom: 50px;
	padding-top: 40px; 
}

#buttonTemp
{
	border: none;
	margin-top: 25px;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: #3CA0EC;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    transition: .3s;
    width: 220px;
}

#buttonCont
{
	border: none;
	font-size: 18px;
	margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: #3CA0EC;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
    width: 200px;
}

#buttonCont:hover
{
	transform: scale(1.1,1.1);
}

#buttonTemp:hover
{
	transform: scale(1.1,1.1);
}

#productos
{
	width: 320px;
	height: 250px;
	margin-top: 20px;
	transition: .3s;
	margin-bottom: 10px;
	border: 2px solid rgba(0, 0, 0, .5);
	border-radius: 5px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.5);
}

#productos:hover
{
	transform: scale(1.1,1.1);
}

#productosTags
{
	margin-top: 30px;
	color:#3CA0EC;
	font-weight: 600;
	font-size: 21pt;
}

#productosTagsP
{
	margin-top: 10px;
	color:#3CA0EC;
	font-weight: 600;
	font-size: 21pt;
}

#productosTags2
{
	margin-top: 50px;
	color:#3CA0EC;
	font-weight: 600;
	font-size: 26pt;
}

#contactHeading
{
	margin-top: 30px;
}

#payImages
{
	width: 280px;
	border: 2px solid rgba(0, 0, 0, .5);
	border-radius: 2px;
}

#productosHeadings
{
	font-weight: 550;
}

#prices
{
	opacity: .8;
}

#imageContactUs
{
	margin-top: 20px;
	width: 90px;
}
#anchor
{
	color: black;
}

#descriptions
{
	margin-top: 40px;
	color:#F07E82;
	font-weight: 600;
	font-size: 15pt;

}

#imageCar
{
	height: 500px;
	width: 1140px;;
	
}